---
layout: layouts/base.njk
---
<article class="blog-post" itemscope itemtype="{{ itemtype or 'https://schema.org/BlogPosting' }}">

<header>
	<h1 itemprop="headline">{{ title }}</h1>
</header>
<section itemprop="articleBody">
{{ content | safe }}
<p><small>
<span itemprop="datePublished" content="{{ date | htmlDateString }}" }>Published on {{ date | readableDate('DDD') }}</span>
{% if isDiffDay(updated, date) %}and <span itemprop="dateModified" content="{{ updated | htmlDateString }}" }>updated on {{ updated | readableDate('DDD') }}</span>
{% endif %}
</small></p>
<hr>
<footer>
{% include "bio.njk" %}
</footer>
</section>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<nav class="blog-post-nav">
<ul>
{%- if previousPost %}<li><a rel="prev" href="{{ previousPost.url }}">← {{ previousPost.data.title }}</a></li>{% endif %}
{%- if nextPost %}<li><a rel="next" href="{{ nextPost.url }}">{{ nextPost.data.title }} →</a></li>{% endif %}
</ul>
</nav>
{%- endif %}
{%- endif %}
</article>
